.main-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
}

.welcome-card {
  height: 400px;
  width: 400px;
}

@media screen and (max-width: 600px) {
  .welcome-card {
    width: 80%;
  }
  
}