<div class="main-page">
  <mat-card class="welcome-card">
    <mat-grid-list cols="1" rowHeight="3:1">
      <mat-grid-tile>
        <mat-card-title>
          Welcome to MyFlix
        </mat-card-title>

      </mat-grid-tile>
      <mat-grid-tile rowspan=2>
        <mat-card-content>
          <button
            mat-raised-button
            (click)="openUserRegistrationDialog()"
            style="margin-right: 10px;"
            color="primary"
          >
            Sign Up
          </button>
          <button
            mat-raised-button
            (click)="openUserLoginDialog()"
            style="margin-right: 10px;"
            color="primary"
          >
            Login
          </button>
        </mat-card-content>
      </mat-grid-tile>

    </mat-grid-list>

  </mat-card>
</div>